<?xml version='1.0' encoding='utf-8'?>
<settings>

  

  <run_mode>eigenvalue</run_mode>
  <batches>200</batches>
  <inactive>20</inactive>
  <particles>10000</particles>

  <source>
    <space>
      <type>box</type>
      <parameters>-10 -10 -40  10 10 40</parameters>
    </space>
  </source>

</settings>