USER_CONFIG = {
    "your_machine_here": {
        "account": "your_account_here",
        "queue": "the_queue_here",
        "reservation": None,
	"maestro_python": None,
	"mcdc_python": None,
    },
}
