LAUNCH_CONFIG = {
    "verification/analytical/neutron/fixed_source": {
        "enabled": True,
        "platform": "tuolumne",
        "mpi": True,
        "walltime": None,
        "rewrite": False,
    },
}
